@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="mailto:mark@rendlelabs.com">mark@rendlelabs.com</a><br />
    <strong>Sales:</strong> <a href="mailto:miranda@rendlelabs.com">miranda@rendlelabs.com</a>
</address>
